.advantages {
  text-align: center;
}

.advantages__title {
  margin: 32px 18px 35px;
}

.advantages__description {
  margin: 0 16px 32px;
}

.advantages__list {
  @include list-reset;
  counter-reset: list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__sublist {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #ffffff;
  padding: 23px 18px 46px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 60px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 50px;
  }
}

.advantages__item {
  background-color: #eeeeee;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.advantages__text-wrapper {
  box-sizing: border-box;
  padding: 37px 18px;

  @media (min-width: $tablet-width) {
    width: 256px;
    padding: 52px 33px 31px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding: 52px 50px;
  }
}

.advantages__item-title {
  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.advantages__item-title--counted {
  position: relative;
  padding-bottom: 49px;

  &::after {
    position: absolute;
    bottom: 11px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    counter-increment: list;
    content: "— №" counter(list) " —";
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}

.advantages__item-description {
  padding-top: 17px;
}

.advantages__item-img {
  display: block;
  margin: 0;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 512px;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.advantages__item-wrapper {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    display: flex;
  }
}

.advantages__item-wrapper--reverse {
  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
  }
}

.advantages__item--width {
  color: #ffffff;
  background-color: $main-color;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item--big {
  @media (min-width: $tablet-width) {
    grid-row: 1/2;
  }
}

.advantages__item--icon {
  text-align: start;
  padding-left: 47px;
  color: #000000;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 40px;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding-left: 0;
    background-size: auto;
    background-position: center 0;
  }
}

.advantages__item--icon-house {
  background-image: url("../../img/icon-house.svg");
}

.advantages__item--icon-burger {
  background-image: url("../../img/icon-burger.svg");
}

.advantages__item--icon-gift {
  background-image: url("../../img/icon-gift.svg");
}

.advantages__item--icon .advantages__item-title {
  padding-top: 8px;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 0;
  }
}

.advantages__item--no-img {
  padding: 24px 18px 28px;
  border-bottom: 1px solid #d6d6d6;

  @media (min-width: $tablet-width) {
    padding: 41px 33px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 52px;
  }
}
