.button {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $main-color;
  border: none;
  padding: 16px 8px;
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $click-color;
  }
}
