.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $main-color;
  border: none;
  padding: 16px 8px;
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $click-color;
  }
}
