.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #000000;
  height: 36px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $main-color;
  }

  &:active {
    color: #b3b3b3;
  }

  &:hover svg {
    fill: $main-color;
  }

  &:active svg {
    fill: #b3b3b3;
  }
}

.copyright__link svg {
  width: 28px;
  height: 35px;
  box-sizing: border-box;
}
