.copyright__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: #000000;
  max-width: 150px;
  cursor: pointer;

  &:hover {
    color: $main-color;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyright__link svg {
  display: block;
  fill: currentColor;
  margin-left: 8px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.copyright__text {
  @media (min-width: $tablet-width) {
    margin-right: 5px;
  }
}
