.hotel-search {
  text-align: center;
  padding-top: 39px;
  padding-bottom: 49px;
}

.hotel-search__title {
  margin: 0 29px 30px;
}

.hotel-search__description {
  margin: 0 29px 32px;
}

.hotel-search__button {
  margin: 0 18px;
}
