.hotel-search {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 49px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 458px;
  }
}

.hotel-search__title {
  margin: 0 29px 30px;
}

.hotel-search__description {
  margin: 0 29px 32px;
}
