.main-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
  padding: 33px 82px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 120px;
  }
}

.hashtag__link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: inherit;
}

.social__list {
  @include list-reset;
}
