.photo {
  padding: 37px 20px 17px;
}

.photo__title {
  padding-bottom: 20px;
  text-align: center;
}

.photo__description {
  padding-bottom: 30px;
  text-align: center;
}

.photo__list {
  @include list-reset;
}

.photo__item {
  padding: 25px 0;
}

.photo__image {
  padding-bottom: 15px;
}

.photo__item-title {
  padding-bottom: 10px;
}

.photo__item-author {
  padding-bottom: 11px;
  margin: 0;
}

.photo__item-likes {
  padding-left: 40px;
  font-weight: 700;
}
