.photo {
  padding: 30px 20px 17px;

  @media (min-width: $tablet-width) {
    padding: 100px 60px 62px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0 58px;
  }
}

.photo__title {
  padding-bottom: 20px;
  text-align: center;
}

.photo__description {
  padding-bottom: 30px;
  text-align: center;
}

.photo__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.photo__item {
  position: relative;
  padding: 25px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.photo__item--big {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.photo-item-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 15px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    width: fill-available;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
}

.photo__image {
  padding-bottom: 15px;
  width: 280px;
  height: 280px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 267px;
  }

  @media (min-width: $tablet-width) {
    width: 400px;
    padding-bottom: 0;
  }
}

.photo__image-big {
  @media (min-width: $tablet-width) {
    width: 648px;
    height: 480px;
  }

  @media (min-width: $tablet-width) {
    width: 1200px;
    height: 400px;
  }
}

.photo__item-title {
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
  }
}

.photo__item-author {
  padding-bottom: 11px;
  margin: 0;
}

.photo__item-likes {
  padding-left: 40px;
  font-weight: 700;
  margin-left: auto;
}
