.site-list {
  @include list-reset;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    min-width: $tablet-width;

    &::after {
      content: "";
      grid-column: 3/4;
      grid-row: 1/3;
    }
  }
}

.site-list__item {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
}

.site-list__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 17px 60px 12px 20px;
  background-color: $main-color;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }

  &:active {
    background-color: $click-color;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    color: #000000;
    padding: 18px 17px 17px;
    background-color: #ffffff;
    border: none;


    &:hover {
      color: $main-color;
      background-color: #ffffff;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: #ffffff;
    }
  }
}

.site-list__link--current {
  @media (min-width: $tablet-width) {
    color: #766357;
  }
}
